--
-- PostgreSQL database dump
--

\restrict Bvq1DXyyixIrppDxhlythxUexl6UE9LspK8aj6GaRAMuwrQI03wwfwflVNcqBh3

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.2

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: inventoryuser
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO inventoryuser;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: foods; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.foods (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    category character varying(50),
    calories integer,
    price numeric(8,2),
    quantity integer,
    expiration_date date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.foods OWNER TO postgres;

--
-- Name: foods_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.foods_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.foods_id_seq OWNER TO postgres;

--
-- Name: foods_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.foods_id_seq OWNED BY public.foods.id;


--
-- Name: inventory_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_items (
    id bigint NOT NULL,
    description character varying(500),
    location character varying(255) NOT NULL,
    max_stock_level integer NOT NULL,
    name character varying(255) NOT NULL,
    quantity_on_hand integer NOT NULL,
    reorder_point integer NOT NULL,
    reorder_quantity integer NOT NULL,
    sku character varying(255) NOT NULL,
    unit_cost double precision NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL,
    version bigint NOT NULL,
    preferred_supplier_id bigint,
    barcode character varying(255),
    expiration_date date,
    supplier_id bigint,
    active boolean DEFAULT true,
    CONSTRAINT inventory_items_max_stock_level_check CHECK ((max_stock_level >= 0)),
    CONSTRAINT inventory_items_quantity_on_hand_check CHECK ((quantity_on_hand >= 0)),
    CONSTRAINT inventory_items_reorder_point_check CHECK ((reorder_point >= 0)),
    CONSTRAINT inventory_items_reorder_quantity_check CHECK ((reorder_quantity >= 0))
);


ALTER TABLE public.inventory_items OWNER TO postgres;

--
-- Name: inventory_items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.inventory_items ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.inventory_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: item_alert_state; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.item_alert_state (
    item_id bigint NOT NULL,
    low_alert_sent boolean NOT NULL,
    updated_at timestamp(6) with time zone NOT NULL
);


ALTER TABLE public.item_alert_state OWNER TO postgres;

--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id integer NOT NULL,
    name character varying(100),
    description text,
    price numeric(10,2),
    quantity integer,
    category character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: items_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.items_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.items_id_seq OWNER TO postgres;

--
-- Name: items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.items_id_seq OWNED BY public.items.id;


--
-- Name: stock_txns; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stock_txns (
    id bigint NOT NULL,
    created_at timestamp(6) with time zone NOT NULL,
    delta integer NOT NULL,
    note character varying(255),
    performed_by character varying(255) NOT NULL,
    type character varying(255) NOT NULL,
    item_id bigint NOT NULL,
    CONSTRAINT stock_txns_type_check CHECK (((type)::text = ANY ((ARRAY['STOCK_IN'::character varying, 'STOCK_OUT'::character varying, 'ADJUSTMENT'::character varying])::text[])))
);


ALTER TABLE public.stock_txns OWNER TO postgres;

--
-- Name: stock_txns_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stock_txns ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stock_txns_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suppliers (
    id bigint NOT NULL,
    email character varying(255),
    name character varying(255) NOT NULL,
    notes character varying(255),
    phone character varying(255)
);


ALTER TABLE public.suppliers OWNER TO postgres;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.suppliers ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.suppliers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'EMPLOYEE'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.users ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: foods id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foods ALTER COLUMN id SET DEFAULT nextval('public.foods_id_seq'::regclass);


--
-- Name: items id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items ALTER COLUMN id SET DEFAULT nextval('public.items_id_seq'::regclass);


--
-- Data for Name: foods; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inventory_items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: item_alert_state; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.item_alert_state (item_id, low_alert_sent, updated_at) FROM stdin;
1	f	2026-02-22 21:33:16.550619-07
2	f	2026-02-22 21:43:34.409838-07
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.items (id, name, description, price, quantity, category, created_at) FROM stdin;
\.


--
-- Data for Name: stock_txns; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.suppliers (id, email, name, notes, phone) FROM stdin;
1	supplier@example.com	Main Supplier	Default supplier	555-0100
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, password, role, username) FROM stdin;
1	$2a$10$j2GxrYhgXK6LXeBq59THV.r1ZAIwwbclpR4c0dX/c75Q/mb210.Fq	ADMIN	admin
2	$2a$10$yMIbSxqD/O5hkFXtGQ4A7uGg4w/5klIaafiurB28BG0UPNQF50HIO	EMPLOYEE	employee
\.


--
-- Name: foods_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.foods_id_seq', 100, true);


--
-- Name: inventory_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_items_id_seq', 217, true);


--
-- Name: items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.items_id_seq', 1, false);


--
-- Name: stock_txns_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stock_txns_id_seq', 14, true);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 1, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: foods foods_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.foods
    ADD CONSTRAINT foods_pkey PRIMARY KEY (id);


--
-- Name: inventory_items idx_sku; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT idx_sku UNIQUE (sku);


--
-- Name: inventory_items inventory_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT inventory_items_pkey PRIMARY KEY (id);


--
-- Name: item_alert_state item_alert_state_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.item_alert_state
    ADD CONSTRAINT item_alert_state_pkey PRIMARY KEY (item_id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: stock_txns stock_txns_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_txns
    ADD CONSTRAINT stock_txns_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: suppliers ukeegixpn11chp14nb25tl3ucv0; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT ukeegixpn11chp14nb25tl3ucv0 UNIQUE (name);


--
-- Name: inventory_items ukfmaocjyr2uu3r0t1hqqwt4jxr; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT ukfmaocjyr2uu3r0t1hqqwt4jxr UNIQUE (barcode);


--
-- Name: users ukr43af9ap4edm43mmtq01oddj6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT ukr43af9ap4edm43mmtq01oddj6 UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: inventory_items fk7wl7n0r8dph63w2bf1ylsd5k1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT fk7wl7n0r8dph63w2bf1ylsd5k1 FOREIGN KEY (preferred_supplier_id) REFERENCES public.suppliers(id);


--
-- Name: inventory_items fkhc7q0chmfralakw27k36ds0c1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_items
    ADD CONSTRAINT fkhc7q0chmfralakw27k36ds0c1 FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: stock_txns fkqwx4250rf60trs3844woemyyj; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stock_txns
    ADD CONSTRAINT fkqwx4250rf60trs3844woemyyj FOREIGN KEY (item_id) REFERENCES public.inventory_items(id);


--
-- Name: TABLE foods; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.foods TO inventoryuser;


--
-- Name: SEQUENCE foods_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.foods_id_seq TO inventoryuser;


--
-- Name: TABLE inventory_items; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.inventory_items TO inventoryuser;


--
-- Name: SEQUENCE inventory_items_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.inventory_items_id_seq TO inventoryuser;


--
-- Name: TABLE item_alert_state; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.item_alert_state TO inventoryuser;


--
-- Name: TABLE items; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.items TO inventoryuser;


--
-- Name: SEQUENCE items_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.items_id_seq TO inventoryuser;


--
-- Name: TABLE stock_txns; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.stock_txns TO inventoryuser;


--
-- Name: SEQUENCE stock_txns_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.stock_txns_id_seq TO inventoryuser;


--
-- Name: TABLE suppliers; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.suppliers TO inventoryuser;


--
-- Name: SEQUENCE suppliers_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.suppliers_id_seq TO inventoryuser;


--
-- PostgreSQL database dump complete
--

\unrestrict Bvq1DXyyixIrppDxhlythxUexl6UE9LspK8aj6GaRAMuwrQI03wwfwflVNcqBh3

